$primary-color: #0089CF;
$secondary-color: #E12222;
$text-color-main: white;
$text-color-secondary: #8B8B8B;
$bg-color: #172E3A;

$basic-font-bold : "Gothic font", sans-serif;
$basic-font-italic : "Gothic Italic", sans-serif;
$basic-font-regular : "Gothic Regular", sans-serif;
$basic-header-size: 70px;