@font-face {
  font-family: 'Gothic font';
  src: url("../fonts/CenturyGothic-Bold.ttf") format("ttf"), url("../fonts/CenturyGothic-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gothic Italic';
  src: url("../fonts/CenturyGothic-Italic.ttf") format("ttf"), url("../fonts/CenturyGothic-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Gothic Regular';
  src: url("../fonts/CenturyGothic.ttf") format("ttf"), url("../fonts/CenturyGothic.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.main-btn {
  color: white;
  font-family: "Gothic Regular", sans-serif;
  /* fallback/image non-cover color */
  background-color: #E12222;
  /* Firefox 3.6+ */
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E12222), to(#711111));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(#E12222, #711111);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(#E12222, #711111);
  cursor: pointer; }

.btn-call {
  padding: 15px; }

h1 {
  color: #0089CF; }

.example {
  height: 300px;
  width: 200px;
  /* Safari 5.1+, Chrome 10+ */
  /* Firefox 3.6+ */
  /* Firefox 3.6+ */
  box-shadow: 0px -33px 40px 0px #0089cf; }
  .example_main-header {
    color: #0089CF;
    font-family: "Gothic font", sans-serif;
    font-size: 70px;
    text-transform: uppercase;
    /* fallback/image non-cover color */
    background-color: #E12222;
    /* Firefox 3.6+ */
    /* Safari 4+, Chrome 1+ */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E12222), to(#711111));
    /* Safari 5.1+, Chrome 10+ */
    background-image: -webkit-linear-gradient(#E12222, #711111);
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(#E12222, #711111); }
